<!DOCTYPE html>
<html ng-app="app">
  <head>
<!--      <base href="/">-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!--      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
  </head>
  <body>
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
          <ul class="list-inline">
        <li><a href="#/admin">Administration</a></li>
        <li><a href="#/register">Register</a></li>
               <li><a href="#/profile">Profile</a></li>
        <li><a href="/" ng-click="logout()">Logout</a></li>
              <li><a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a></li>
          </ul>
  	{{message}}
    <ng-view></ng-view>
      </div>
  </body>
</html>
